<%= render partial: 'shared/navigation' %>
<div class="container" style="padding: 0 3em;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-lg-flex justify-content-lg-center" style="padding: 1em;color: var(--bs-gray);">News Feed</h1>
        </div>
    </div>
    <div class="row">
        
        <% @posts.each do |post| %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: var(--bs-green);"><%= post.user.name %></h4>
                    <h6 class="text-muted card-subtitle mb-2"><%= post.created_at %></h6>
                    <p class="card-text"><%= post.body %></p>
                    <a class="card-link" href="#">Edit</a>
                    <a class="card-link" href="#" style="color: var(--bs-red);">Delete</a>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<%= render partial: 'shared/pagination' %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>